{{!-- this page displays event for a guest user / not member --}}

{{!-- Education events  --}}
<h1> Education Events</h1>
<br>
<br>

{{#each events}}
<div class="containerB">
  <div class="item-c">

    <div id="titleLink">
      <h2>{{dataValues.title}}</h2>
    </div>
    <hr>
    <div id="descriptionT">Description:</div>
    <div id="descriptionP">{{dataValues.description}}
    </div>
    <hr>
    <div id="date">Date:  {{dataValues.createdAt}}</div>
    <div id="location">Location:  {{dataValues.location}}</div>
    <div id="link"><a href="{{dataValues.eventLink}}" target="_blank">Click for More information </a></div>
    {{!-- to display the name from users table --}}
    <div id="userUpload">Posted by: {{dataValues.UserId}}</div>
    {{!-- <a href="#" class="button">Save!</a> --}}
    <br>

  </div>
</div>
{{/each}}

{{!-- <script type="text/javascript" src="js/eventsclient.js"></script> --}}