<ul>
  {{#each events}}
    <li>
      <p>Title: {{dataValues.title}}</p>
      <p>Category: {{dataValues.category}}</p>
     <p>Event Link: {{dataValues.eventLink}} </p>
      <p>Description: {{dataValues.description}}  </p>
      <p>Location: {{dataValues.location}} </p>
      <button data-id="{{this.id}}" class="delevent">Delete</button>
    </li>
  {{/each}}
</ul>

 

<script type="text/javascript" src="js/eventsclient.js"></script>
